* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    112deg,
    rgba(0, 0, 130, 0.93) 0%,
    rgba(190, 0, 214, 1) 100%
  );
  background-repeat: no-repeat;
}

nav {
  box-shadow: 0px 3px 13px -7px #000000, -50px 42px 8px -8px rgba(0, 0, 0, 0);
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px 0px 0px;
}

.nav li {
  list-style-type: none;
  color: white;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s;
}

.shadow-pop-tr:hover {
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff,
      0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff;
    box-shadow: 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff,
      0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #2f00ff, 2px -2px #2f00ff, 3px -3px #2f00ff,
      4px -4px #2f00ff, 5px -5px #2f00ff, 6px -6px #2f00ff, 7px -7px #2f00ff,
      8px -8px #2f00ff;
    box-shadow: 1px -1px #2f00ff, 2px -2px #2f00ff, 3px -3px #2f00ff,
      4px -4px #2f00ff, 5px -5px #2f00ff, 6px -6px #2f00ff, 7px -7px #2f00ff,
      8px -8px #2f00ff;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff,
      0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff;
    box-shadow: 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff,
      0 0 #2f00ff, 0 0 #2f00ff, 0 0 #2f00ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #2f00ff, 2px -2px #2f00ff, 3px -3px #2f00ff,
      4px -4px #2f00ff, 5px -5px #2f00ff, 6px -6px #2f00ff, 7px -7px #2f00ff,
      8px -8px #2f00ff;
    box-shadow: 1px -1px #2f00ff, 2px -2px #2f00ff, 3px -3px #2f00ff,
      4px -4px #2f00ff, 5px -5px #2f00ff, 6px -6px #2f00ff, 7px -7px #2f00ff,
      8px -8px #2f00ff;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

.container {
  display: grid;
  width: 100%;
  height: 100%;

  padding: 15% 0 2rem 0;
  place-items: center;

  text-align: center;

  background: linear-gradient(
    112deg,
    rgba(0, 0, 130, 0.93) 0%,
    rgba(190, 0, 214, 1) 100%
  );
  background-repeat: no-repeat;
}

.container section {
  width: 100%;
}

.form {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(
    112deg,
    rgba(0, 0, 130, 0.93) 0%,
    rgba(190, 0, 214, 1) 100%
  );
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.8 ease;
  cursor: pointer;
  font-weight: bold;
}

.form button:hover {
  background: linear-gradient(
    112deg,
    rgba(0, 0, 124, 0.93) 0%,
    rgb(56, 0, 63) 100%
  );
  transition: all 0.8 ease;
}

.form select {
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
}

.title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

table {
  width: 80%;
  font-family: "Roboto", sans-serif;
  border-spacing: 0px;
  margin: 0 auto;
  margin-top: 40px;
}

.tbl-header th {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  background: none;
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fa-edit,
.fa-trash-alt {
  font-size: 22px;
  margin-right: 3px;
  cursor: pointer;
}

.fa-edit {
  color: rgb(123, 255, 123);
}

.fa-trash-alt {
  color: rgb(255, 92, 27);
}

.addBtn {
  padding: 15px 50px;
  background-color: rgba(130, 130, 240, 0.815);
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
